<!doctype html>
<html lang="en" data-framework="jquery">
  <head>
    <meta charset="utf-8">
    <title>jQuery • TodoMVC</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>
  <body>
    <%= @inner %>
    <script src="<%= static_path(@conn, "/jspm_packages/system.js") %>"></script>
    <script src="<%= static_path(@conn, "/config.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/elixir.js") %>"></script>
    <script>
      System.import('js/app');
    </script>
  </body>
</html>
